<section id="shop" class="shop-page">

		<!-- Start Hero Section -->
		<div class="hero">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5">
						<div class="intro-excerpt">
							<h1>Shop</h1>
							<p class="mb-4">"Browse our curated collection of furniture and decor, where style meets comfort to elevate your space."</p>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="hero-img-wrap">
							<img src="assets/images/couch.png" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Hero Section -->
		 <!-- Shop Banner -->
		<section class="shop-banner">
			<div class="container">
				<!-- Background Floating Images -->
				<img src="assets/images/Chair1.jpg" alt="Decor Image 1" class="floating-image img1">
				<img src="assets/images/table1.jpg" alt="Decor Image 2" class="floating-image img2">
				<img src="assets/images/antique1.jpg" alt="Decor Image 3" class="floating-image img3">
				<img src="assets/images/Chair2.jpg" alt="Decor Image 4" class="floating-image img4">
				<img src="assets/images/table9.jpg" alt="Decor Image 5" class="floating-image img5">
				<img src="assets/images/antique3.jpg" alt="Decor Image 6" class="floating-image img6">
				<img src="assets/images/antique4.jpg" alt="Decor Image 7" class="floating-image img7">
		
				<div class="banner-content">
					<h3>December Sale is On! <br> Enjoy 20% <span class="highlight-text">Tax refund...</span></h3>
					<div class="sale-percent">
						<span>Sale! <br> Up to</span>
						<strong>50%</strong>
						<span>Off</span>
					</div>
					<!--<a href="shop.html" class="cart-btn btn-lg">Shop Now</a>-->
				</div>
			</div>
		</section>
		<!-- End Shop Banner -->

		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">
					<!-- Product Filters Section -->
					<div class="row">
						<div class="col-md-12">
							<div class="product-filters">
								<ul>
									<li class="active" data-filter="*">All</li>
									<li data-filter=".chair">Chairs</li>
									<li data-filter=".antique">Tables & Antiques</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="row">
		      		<!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 chair">
						<a class="product-item" href="NordicChair.html">
							<img src="assets/images/product-3.png" class="img-fluid product-thumbnail">
							<h3 class="product-title">Nordic Chair</h3>
							<strong class="product-price">$120.00</strong>

							<span class="icon-cross">
									<img src="assets/images/cross.svg" class="img-fluid" alt="Cross Icon">
							</span>
						</a>
					</div> 
					<!-- End Column 1 -->
						
					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 chair">
						<a class="product-item" href="KruzoAeroChair.html">
							<img src="assets/images/product-1.png" class="img-fluid product-thumbnail">
							<h3 class="product-title">Kurzo Aero Chair</h3>
							<strong class="product-price">$120.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 chair">
						<a class="product-item" href="ErgonomicChair.html">
							<img src="assets/images/product-2.png" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ergonomic Chair</h3>
							<strong class="product-price">$250.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 chair">
						<a class="product-item" href="PapasanChair.html">
							<img src="assets/images/3.jpg" class="img-fluid product-thumbnail"><br><br>
							<h3 class="product-title">Papasan Chair</h3>
							<strong class="product-price">$220.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 -->


					<!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 chair">
						<a class="product-item" href="EamesChair.html">
							<img src="assets/images/product5.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Eames Chair</h3>
							<strong class="product-price">$1200</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 1 -->
						
					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 chair">
						<a class="product-item" href="WishboneChair.html">
							<img src="assets/images/Chair1.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Wishbone Table</h3>
							<strong class="product-price">$160.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 chair">
						<a class="product-item" href="#">
							<img src="assets/images/Chair2.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Kruzo Aero Table</h3>
							<strong class="product-price">$78.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->
					 <!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 antique">
						<a class="product-item" href="#">
							<img src="assets/images/antique1.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Nordic Chair</h3>
							<strong class="product-price">$80.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 1 -->
						
					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 antique">
						<a class="product-item" href="#">
							<img src="assets/images/antique3.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Nordic Table</h3>
							<strong class="product-price">$40.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 antique">
						<a class="product-item" href="#">
							<img src="assets/images/antique7.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Kruzo Aero Table</h3>
							<strong class="product-price">$78.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					 <!-- Start Column 5 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 antique">
						<a class="product-item" href="#">
							<img src="assets/images/antique5.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ergonomic Chair</h3>
							<strong class="product-price">$43.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 5 -->
					 <!-- Start Column 6 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 antique">
						<a class="product-item" href="#">
							<img src="assets/images/antique4.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ergonomic Chair</h3>
							<strong class="product-price">$43.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 6 -->
					 <!-- Start Column 7 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 antique">
						<a class="product-item" href="#">
							<img src="assets/images/antique2.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ergonomic Chair</h3>
							<strong class="product-price">$43.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 7 -->
					 <!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 antique">
						<a class="product-item" href="#">
							<img src="assets/images/table8.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ergonomic Chair</h3>
							<strong class="product-price">$43.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 2 -->
					 <!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 antique">
						<a class="product-item" href="#">
							<img src="assets/images/table7.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ergonomic Chair</h3>
							<strong class="product-price">$43.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->
					 <!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 antique">
						<a class="product-item" href="#">
							<img src="assets/images/table4.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ergonomic Chair</h3>
							<strong class="product-price">$43.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 -->
					 <!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 antique">
						<a class="product-item" href="#">
							<img src="assets/images/table9.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ergonomic Chair</h3>
							<strong class="product-price">$43.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 -->
					 <!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 antique">
						<a class="product-item" href="#">
							<img src="assets/images/table10.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ergonomic Chair</h3>
							<strong class="product-price">$43.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 -->
					 <!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 antique">
						<a class="product-item" href="#">
							<img src="assets/images/table3.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ergonomic Chair</h3>
							<strong class="product-price">$43.00</strong>

							<span class="icon-cross">
								<img src="assets/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 -->
					 
		      	</div>
		    </div>
		</div>
</section>
